<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-3">
    <p>Listas</p>
    <ul class="list-group">
      <%= render "shared/lists" %>
    </ul>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-9">
    <%= render "list_form" %>
  </div>
</div>
