<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-3">
    <%= render "shared/lists" %>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-9">
    <p>Nova lista</p>
    <%= form_for(List.new) do |f| %>
    <%= f.text_field :name, class: "validate"%>
    <%= f.submit %>
    <% end %>
  </div>
</div>
