<div class="row p-title">
  <p>User Index</p>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Number of lists</th>
  </td>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.lists.count %></td>
    </td>
  <% end %>
</table>
