<p>User Index</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Qtd Lists</th>
  </td>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.lists.count %></td>
    </td>
  <% end %>
</table>
