<p>Listas</p>
<ul class="list-group">
  <% @lists.each do |l| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to l.name, edit_list_path(l) %>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
  <% end %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= form_for(List.new) do |f| %>
    <%= f.text_field :name, class: "validate"%>
    <%= f.submit %>
    <% end %>
  </li>
</ul>
