<p>My Lists</p>
<ul class="list-group">
  <% @lists.each do |l| %>
    <%= link_to l.name, list_path(l), class: "list-group-item d-flex justify-content-between align-items-center" %>
  <% end %>
</ul>
<%= render "shared/new_list" %>

<p>Follow Lists</p>
<ul class="list-group">
  <% @lists_following.each do |lf| %>
    <%= link_to lf.name, list_path(lf), class: "list-group-item d-flex justify-content-between align-items-center" %>
  <% end %>
</ul>

<%= link_to('Find Users', users_path, class: "btn btn-primary") %>
