 @import "bootstrap";
 @import "lists";
 @import "tasks";
 @import "navbar";
 @import "users";

.message-fixed-box {
  height: 3.5em;
}

body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0.5rem;
  margin: 0.5rem;
}

.btn {
  min-width: 7rem;
}
