input.description {
  width: 75%;
}

.task_item {
  margin: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1rem;

  input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
  }
}

.subtask_item {
  margin-left: 2rem;
  padding: 1rem;

  input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
  }
}
